# Drizzle
HOST="ns1.byethost32.org"
PORT="3306"
DB_NAME="wwtcspri_members"
USER="wwtcspri"
PASS="%2BfTadI2%23sHH758"
# Replace with your DB credentials!
# DATABASE_URL="mysql://user:password@host:port/db-name"
DATABASE_URL="mysql://${USER}:${PASS}@${HOST}:${PORT}/${DB_NAME}"
